image: maven:3.9.6-eclipse-temurin-17

cache:
  paths:
    - .m2/repository

stages:
  - build
  - test

build_job:
  stage: build
  script:
    - echo "Compilation du projet Java"
    - mvn compile

test_job:
  stage: test
  script:
    - echo "Tests unitaires"
    - mvn test
